@keyframes amSlideDown {
    from {
        height: 0;
        opacity: 0.4;
    }
    to {
        height: 15.5em;
        opacity: 1;
    }
}

.main {
    position: relative;
    display: inline-block;
    align-items: center;
    font-family: "PingFang SC","Fira Code", sans-serif;
}


.main:hover {
    cursor: pointer;
}

.PickerTable {
    top: 3em;
    left: 5px;
    margin-top: .2em;
    padding: .5em;
    width: 15em;
    height: 15.5em;
    box-shadow: 0 0 10px #dcdcec;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    z-index: 999;
    animation: amSlideDown .1s linear;
    overflow: hidden;
}

.PickerTable table {
    width: 100%;
    text-align: center;
    border-collapse:collapse;
}

.PickerTable_weekdays {
    height: 1em;
    color: #8b8b98;
    text-align: center;
}

.PickerTable_weekdays td {
    height: 1em;
    color: #8b8b98;
    text-align: center;
    padding-bottom: .5em;
}

.PickerTable_head {
    height: 2em;
    line-height: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.caption {
    line-height: 24px;
    margin: 0 1.5em;
    width: 8.2em;
}

:global(.pageItem):hover {
    color: #30b1ff;
}

.dateItem {
    height: 28px;
}

.dateItem:hover {
    background-color: #b8c4ca;
    color: white;
}

.dateItem.active {
    background-color: #30b1ff !important;
    color: #fff !important;
}

.dateItem.today {
    color: #2c9ce2;
}

.dateItem.disabled {
    color: #6f6f6f;
    background-color: #bbbbbb;
}


td.shade{
    color: #e2e2e2 !important;
    background-color: #f3f3f3 !important;
    cursor: not-allowed;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    border-radius: 0;
}
td.shade:hover{
    color: #e2e2e2;
    background-color: #f3f3f3;
}

tr.years {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-content: space-between;
}

tr.years td {
    width: 3.625em;
    height: 2em;
    line-height: 2em;
    margin-top: 2em;
}
tr.years td:hover{
    background-color: #b8c4ca;
    color: white;
}

tr.years > td.active{
    background-color: #30b1ff !important;
    color: #fff !important;
}
