.main {
    position: relative;
    display: inline-block;
    align-items: center;
    font-family: "PingFang SC","Fira Code", sans-serif;
}

.PickerTable {
    top: 3em;
    left: 5px;
    margin-top: .2em;
    padding: .5em;
    width: 10.5em;
    height: 10em;
    box-shadow: 0 0 10px #dcdcec;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    z-index: 999;
    animation: amSlideDown .1s linear;
    overflow: hidden;
}

.wheelTimePanel {

}

.timeAidTitle {
    /*text-align: center;*/
}

.timeAidSpan {
    font-size: 0.8em;
    box-sizing: border-box;
    display: inline-block;
    padding-left: calc(0.6em / 0.8);
    margin-left:calc(0.2em / 0.8);
    width: 3.3em;
}

.aidBottom {
    position: relative;
    top: -0.4em;
    border-top: 1px solid #c5c5c5;
    background-color: #fff;
    line-height: 1.5em;
    padding-top: 0.2em;

}