:global(.PickerTable) {
    top: 3em;
    left: 5px;
    margin-top: .2em;
    padding: .5em;
    /*width: 10.5em;*/
    /*height: 10em;*/
    box-shadow: 0 0 10px #e6e6f6;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    z-index: 999;
    animation: amSlideDown .1s linear;
    overflow: hidden;
}

@keyframes amSlideDown {
    from {
        transform-origin: center top;
        opacity: 0;
        transform: scale(1,0);
        -ms-transform: scale(1,0);		/* IE 9 */
        -webkit-transform: scale(1,0);	/* Safari and Chrome */
        -o-transform: scale(1,0);		/* Opera */
        -moz-transform: scale(1,0);		/* Firefox */

    }
    to {
        transform-origin: center top;
        opacity: 1;
        transform: scale(1,0);
        -ms-transform: scale(1,1);		/* IE 9 */
        -webkit-transform: scale(1,1);	/* Safari and Chrome */
        -o-transform: scale(1,1);		/* Opera */
        -moz-transform: scale(1,1);		/* Firefox */

    }
}

@keyframes amSlideBack {
    from {
        transform-origin: center top;
        opacity: 1;
        transform: scale(1,0);
        -ms-transform: scale(1,1);		/* IE 9 */
        -webkit-transform: scale(1,1);	/* Safari and Chrome */
        -o-transform: scale(1,1);		/* Opera */
        -moz-transform: scale(1,1);		/* Firefox */
    }
    to {
        transform-origin: center top;
        opacity: 0;
        transform: scale(1,0);
        -ms-transform: scale(1,0);		/* IE 9 */
        -webkit-transform: scale(1,0);	/* Safari and Chrome */
        -o-transform: scale(1,0);		/* Opera */
        -moz-transform: scale(1,0);		/* Firefox */
        visibility:hidden
    }
}
.main {
    justify-content: center;
    top: 2.4em;
    left: -3px;
    margin-top: .2em;
    position: absolute;
    z-index: 999;
    /*height: 13em;*/
    /*width: 12.5em;*/
    overflow: hidden;
    padding: 8px;
    padding-top: 0;
}

.innerBox {
    margin: 0 auto;
    /*width: 10.5em;*/
    /*height: 10em;*/
    box-shadow: 0 0 10px #dadaea;
    background-color: #fff;
    border-radius: 5px;
    border: 0.4px solid #e6e6f6;
    overflow: inherit;
}



:global(.triangle) {
    position: relative;
    width: 0;
    top: 0;
    left: 35px;
    border: 0.4em solid;
    border-color: transparent transparent #e6e6f6 transparent;
    background-color: transparent;
}
:global(.triangle:after) {
    position: absolute;
    display: block;
    color: rgba(255, 255, 255, 0);
    content: " ";
    border: 0.38em solid;
    top: 0.1em;
    margin-left: -0.36em;
    border-top-width: 0;
    border-bottom-color: #fff;
}

.unshow{
    opacity: 0;
    transform: scale(1,0);
}

.active {
    display: block;
    animation: amSlideDown .1s linear;
}

.hide {
    display: none !important;
}

.unshowAnimate {
    animation: amSlideBack .1s linear;
}

.innerBox.preciseBar::before {
    content: " ";
    position: absolute;
    top: 5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(91, 180, 255, 0.63);
    width: 90%;
    height: 2em;
    z-index: 1;
}